.intro{
position:fixed;
inset:0;
background:#000;
display:flex;
justify-content:center;
align-items:center;
z-index:99999;

animation:fadeOut .8s ease forwards;
animation-delay:2s;
}

.intro-content{
display:flex;
flex-direction:column;
align-items:center;
gap:24px;
}

.intro-logo{

animation:logoIn 1s ease;
filter:drop-shadow(0 0 25px rgba(217,178,111,.45));

}

.intro-text{

color:#D9B26F;

letter-spacing:12px;

font-size:24px;

opacity:0;

animation:textIn .8s forwards;

animation-delay:.7s;

}

@keyframes logoIn{

0%{

opacity:0;

transform:scale(.5);

}

100%{

opacity:1;

transform:scale(1);

}

}

@keyframes textIn{

to{

opacity:1;

}

}

@keyframes fadeOut{

to{

opacity:0;

visibility:hidden;

}

}